nav{
    display:inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}
