* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Inter", system-ui, Arial, sans-serif;
}

:root {
  --bj: #ffffff;
  --cp: #1152d4;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 18px;
  border-radius: 14px;
  background-color: var(--cp);
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-1px);
}

/*HEADER*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--bj);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid color-mix(in srgb, #e2e8f0 70%, transparent);
}
.navbar-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  color: var(--cp);
}
.logo-icon {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: var(--cp);
  color: #fff;
  display: grid;
  place-items: center;
}

.navlinks {
  display: flex;
  gap: 26px;
}
.navlinks a {
  text-decoration: none;
  font-weight: 600;
  color: #1e293b;
}
.navlinks a:hover {
  color: var(--cp);
}

/*MAIN*/

/*hero*/
.hero {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}
.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.hero-text span {
  display: inline-block;
  padding: 4px 12px 4px 12px;
  border-radius: 999px;
  background-color: var(--cp);
  color: #fff;
  font-weight: 600;
}
.hero-text h1 {
}

/*FOOTER*/
